{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user }}!{% endblock %}

{% block body %}
    <header class="masthead  text-black text-center">
        <div class="container">
            <h1 class="text-uppercase ">Welkom {{ app.user }}</h1>
        </div>
    </header>
{% endblock %}